@use "variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  color: $black;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  &__title {
    margin-bottom: 24px;
    font-size: 24px;
    text-align: center;
  }

  &__container {
    width: 50%;
    padding: 24px;
    background-color: $gray;
  }

  &__table {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
  }

  &__tableHeader,
  &__tableData {
    padding: 8px;
    text-align: left;
  }

  &__inputWrapper {
    display: flex;
    margin-bottom: 16px;
  }

  &__filter {
    width: 100px;
    margin-right: 8px;
    padding: 8px;
    outline: none;
  }

  &__pagination {
    text-align: center;
  }

  &__button {
    padding: 8px 24px;
    background-color: $red;
    color: white;
    border: none;
    cursor: pointer;

    &:disabled {
      background-color: darken($red, 50%);
      cursor: not-allowed;
    }
  }

  &__modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__modalContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 500px;
    padding: 24px;
    background-color: $white;
    gap: 16px;
  }

  &__titleModal {
    font-size: 18px;
  }
}
